#boost{
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: url(../images/bg-boost-desktop.svg) no-repeat hsl(257, 27%, 26%);
    background-size: 100%;
        .boost_h2{
            font-size: 2.4rem;
            color: white;
        }
        .boost_btn{
            font-size: 1.2rem;
            width: 100%;
            max-width: 12rem;
            height: 3rem;
            background-color: $Cyan;
            color: white;
            border: none;
            border-radius: 1.5rem;
            transition: 0.4s;
            cursor: pointer;
                &:hover{
                    opacity: 0.9;
                    transform: scale(1.015);
                }
        }
}