header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4rem 6rem;
        .nav_login{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 65rem;
                nav{
                    width: 100%;
                    max-width: 20rem;
                    display: flex;
                    justify-content: space-between;
                        a{
                            font-size: 1.1rem;
                            color: $Grayish-Violet;
                            font-weight: 700;
                            cursor: pointer;
                            transition: 0.4s;
                                &:hover{
                                    color: $Very-Dark-Violet;
                                    text-decoration: underline;
                                }
                        }
                }
                .login_sign{
                    width: 100%;
                    max-width: 11rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                        a{
                            font-size: 1.1rem;
                            color: $Grayish-Violet;
                            font-weight: 700;
                            cursor: pointer;
                            transition: 0.4s;
                                &:hover{
                                    color: $Very-Dark-Violet;
                                    text-decoration: underline;
                                }
                        }
                        .sign{
                            font-size: 1.1rem;
                            width: 100%;
                            max-width: 7rem;
                            height: 2.5rem;
                            background-color: $Cyan;
                            color: white;
                            border: none;
                            border-radius: 1.1rem;
                            cursor: pointer;
                            transition: 0.4s;
                                &:hover{
                                    transform: scale(1.01);
                                    opacity: 0.8;
                                }
                        }
                }
            }
            .open_close{
                display: none;
                align-items: center;
                opacity: 0;
                filter: brightness(0) saturate(100%) invert(77%) sepia(88%) saturate(545%) hue-rotate(133deg) brightness(87%) contrast(85%);
                    #open, #close{
                        width: 100%;
                        height: 1.7rem;
                    }
                    #close{
                        display: none;
                    }
            }
            .dropdown_bar{
                display: none;
            }
@media (max-width: 1200px) {
    .nav_login{
        width: 75%;
    }
}
@media (max-width: 1000px) {
    .nav_login{
        display: none;  
            nav{
                position: fixed;
                height: 1rem;
            }
    }
    .open_close{
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
            #open, #close{
                width: 100%;
                max-width: 3rem;
            }
    }
    .dropdown_bar{
        position: fixed;
        top: 7rem;
        height: 0rem;
        opacity: 0;
        width: 80%;
        background-color: $Dark-Violet;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 15px;
            ul{
                height: 13rem;
                font-size: 1.7rem;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                text-align: center;
                color: white;
                    li{
                        transition: 0.4s;
                        cursor: pointer;
                        &:hover{
                            color: $Cyan;
                            transform: translateY(-1px);
                        }
                    }
            }
            hr{
                width: 90%;
                opacity: 0.2;
            }
            .login_drop{
                width: 100%;
                height: 7rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                    a{
                        color: white;
                        text-decoration: none;
                        font-size: 1.7rem;
                        cursor: pointer;
                            &:hover{
                                color: $Cyan;
                                transform: translateY(-1px);
                            }
                    }
                    .sign_drop{
                        width: 100%;
                        max-width: 15rem;
                        height: 3rem;
                        font-size: 1.7rem;
                        background-color: $Cyan;
                        border: none;
                        border-radius: 24px;
                        color: white;
                        cursor: pointer;
                    }
            }
    }
    .active{
        height: 17%;
        min-height: 25rem;
        opacity: 1;
        transition: height 0.2s ease-in-out;
    }
}
@media (max-width: 414px) {
    padding: 2rem 1rem;
        .dropdown_bar{
            position: fixed;
            top: 7rem;
            height: 0rem;
            opacity: 0;
            width: 90%;
            background-color: $Dark-Violet;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 15px;
        }
}
@media (max-width: 375px) {
    padding: 2rem 1rem;
        .dropdown_bar{
            width: 90%;
            height: 25rem;
        }
}
}