main{
    width: 100%;
    height: 100%;
        .section_hero{
            width: 100%;
            display: flex;
            padding: 6.6rem;
            margin-bottom: 5rem;
                .hero_text{
                    h1{
                        font-size: 4rem;
                        color: $Very-Dark-Blue;
                    }
                    p{
                        font-size: 1.2rem;
                        color: $Grayish-Violet;
                        width: 100%;
                        max-width: 33rem;
                        margin-bottom: 3rem;
                    }
                    .hero_btn{
                        font-size: 1.1rem;
                        width: 100%;
                        max-width: 10.7rem;
                        height: 3.5rem;
                        background-color: $Cyan;
                        color: white;
                        border: none;
                        border-radius: 2rem;
                        cursor: pointer;
                        transition: 0.4s;
                            &:hover{
                                transform: scale(1.02);
                                opacity: 0.8;
                            }
                    }
                }
                .img_hero{
                    img{
                        width: 100%;
                    }
                }
        }
}