@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

$Cyan: hsl(180, 66%, 49%);
$Dark-Violet: hsl(257, 27%, 26%);
$Red: hsl(0, 87%, 67%);
$Gray: hsl(0, 0%, 75%);
$Grayish-Violet: hsl(257, 7%, 63%);
$Very-Dark-Blue: hsl(255, 11%, 22%);
$Very-Dark-Violet: hsl(260, 8%, 14%);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import 'header';
@import 'sectionhero';
@import 'statistics';
@import 'boost';
@import 'footer';